 <div id="grid-container">
  <mat-card class="shipper">
    <mat-card-title>SHIPPEREXPORTER</mat-card-title>
    <hr>
    <form>    
      <div class="layout-shippername">
          <label>shipper name</label>
          <input type="text" [(ngModel)]="blDetails.shipperName" class="form-control" [ngModelOptions]="{standalone: true}" >
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-shipperaddress">
          <label>shipper address</label>
          <input type="text" [(ngModel)]="blDetails.shipperAddress" class="form-control" [ngModelOptions]="{standalone: true}" >
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-shippercontact">
          <label>shipper contact</label>
          <input type="text" [(ngModel)]="blDetails.shipperContact" class="form-control" [ngModelOptions]="{standalone: true}">
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-shipperlegalform">
          <label>shipper legalform</label>
          <input type="text" [(ngModel)]="blDetails.shipperLegalForm" class="form-control"[ngModelOptions]="{standalone: true}" >
          <p class="errMsg"></p>
      </div> 
             
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p class="errMsg"></p>
      </div>
    </form>
  </mat-card>


  <div class="generellInfo">
  <mat-card class="blNumber">
    <mat-card-title>BILL OF LADING NUMBER</mat-card-title>
    <hr>
    <form>
      <div class="layout-blnumber">
          <label >Bill of lading number</label>
          <input type="text" [(ngModel)]="blDetails.blNumber" class="form-control" [ngModelOptions]="{standalone: true}">
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p class="errMsg"></p>
      </div>
    </form>
  </mat-card>
  <mat-card class="blIssued">
    <mat-card-title>NUMBER OF B/L ISSUED</mat-card-title>
    <hr>
    <form>
      <div class="layout-blIssued">
          <label>number of B/L issued</label>
          <input type="text" [(ngModel)]="blDetails.numberOfBLIssued" class="form-control" [ngModelOptions]="{standalone: true}">
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p class="errMsg"></p>
      </div>
    </form>
  </mat-card>
  <mat-card class="dateIssue">
    <mat-card-title>DATE OF ISSUE</mat-card-title>
    <hr>
    <form>
      <div class="layout-dateIssued">
          <label>date of issue</label>
          <input type="text" [(ngModel)]="blDetails.dateOfIssue" class="form-control" [ngModelOptions]="{standalone: true}">
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p class="errMsg"></p>
      </div>
    </form>
  </mat-card>
  <mat-card class="placeIssue">
    <mat-card-title>PLACE OF ISSUE</mat-card-title>
    <hr>
    <form>
      <div class="layout-placeIssue">
          <label>place of issue</label>
          <input type="text" [(ngModel)]="blDetails.placeOfIssue" class="form-control" [ngModelOptions]="{standalone: true}">
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p class="errMsg"></p>
      </div>
    </form>
  </mat-card>
</div>

  <mat-card class="consignee">
    <mat-card-title>CONSIGNEE</mat-card-title>
    <hr>
    <form>    
      <div class="layout-consigneename">
          <label>consignee name</label>
          <input type="text" [(ngModel)]="blDetails.consigneeName" class="form-control"[ngModelOptions]="{standalone: true}" >
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-consigneeaddress">
          <label>consignee address</label>
          <input type="text" [(ngModel)]="blDetails.consigneeAddress" class="form-control" [ngModelOptions]="{standalone: true}">
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-consigneecontact">
          <label>consignee contact</label>
          <input type="text" [(ngModel)]="blDetails.consigneeContact" class="form-control" [ngModelOptions]="{standalone: true}">
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-consigneelegalform">
          <label >consignee legalform</label>
          <input type="text" [(ngModel)]="blDetails.consigneeLegalForm" class="form-control" [ngModelOptions]="{standalone: true}">
          <p class="errMsg"></p>
      </div> 
             
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p class="errMsg"></p>
      </div>
    </form>
  </mat-card>

  <mat-card class="carrier">
    <mat-card-title>CARRIER</mat-card-title>
    <hr>
    <form>    
      <div class="layout-carriername">
          <label>carrier name</label>
          <input type="text" [(ngModel)]="blDetails.carrierName" class="form-control" [ngModelOptions]="{standalone: true}" >
          <p class="errMsg"></p>
      </div>

      <div class="layout-carriertrailerNumber">
        <label>carrier trailer number</label>
        <input type="text" [(ngModel)]="blDetails.carrierTrailerNumber" class="form-control" [ngModelOptions]="{standalone: true}" >
        <p class="errMsg"></p>
    </div>
      
      <div class="layout-carrieraddress">
          <label>carrier address</label>
          <input type="text" [(ngModel)]="blDetails.carrierAddress" class="form-control" [ngModelOptions]="{standalone: true}" >
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-carriercontact">
          <label>carrier contact</label>
          <input type="text" [(ngModel)]="blDetails.carrierContact" class="form-control" [ngModelOptions]="{standalone: true}">
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-carrierlegalform">
          <label>carrier legalform</label>
          <input type="text" [(ngModel)]="blDetails.carrierLegalForm" class="form-control"[ngModelOptions]="{standalone: true}" >
          <p class="errMsg"></p>
      </div> 
             
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p class="errMsg"></p>
      </div>
    </form>
  </mat-card>

  <mat-card class="notifyparty">
    <mat-card-title>NOTIFY PARTY</mat-card-title>
    <hr>
    <form>    
      <div class="layout-notifyPname">
          <label>notify party company name</label>
          <input type="text" [(ngModel)]="blDetails.notifyPartyCompanyName" class="form-control"[ngModelOptions]="{standalone: true}" >
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-notifyPaddress">
          <label >notify party companyaddress</label>
          <input type="text" [(ngModel)]="blDetails.notifyPartyCompanyAddress" class="form-control" [ngModelOptions]="{standalone: true}">
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-notifyPlegalform">
          <label>notify party company legalform</label>
          <input type="text" [(ngModel)]="blDetails.notifyPartyCompanyLegalForm" class="form-control" [ngModelOptions]="{standalone: true}">
          <p  class="errMsg"></p>
      </div>
      
      <!-- <div class="layout-notifyPsameAs">
          <label>notify party company sames as</label>
          <input type="text" [(ngModel)]="blDetails.notifyPartySameAs" class="form-control" >
          <p class="errMsg"></p>
      </div>  -->
             
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p class="errMsg"></p>
      </div>
    </form>
  </mat-card>

  <mat-card class="forwardingACompany">
    <mat-card-title>FORWARDING AGENT COMPANY</mat-card-title>
    <hr>
    <form>    
      <div class="layout-agentCname">
          <label >Agent Company Name</label>
          <input type="text" [(ngModel)]="blDetails.agentCompanyName" class="form-control"[ngModelOptions]="{standalone: true}" >
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-agentCaddress">
          <label >agent company address</label>
          <input type="text" [(ngModel)]="blDetails.agentCompanyAddress" class="form-control"[ngModelOptions]="{standalone: true}" >
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-agentClegalform">
          <label>agent company legalform</label>
          <input type="text" [(ngModel)]="blDetails.agentCompanyLegalForm" class="form-control" [ngModelOptions]="{standalone: true}">
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p class="errMsg"></p>
      </div>
    </form>
  </mat-card>

  <div class="transportInfo">
    <mat-card class="portloading">
      <mat-card-title>PORT OF LOADING</mat-card-title>
      <hr>
      <form>
        <div class="layout-portLoading">
            <label >PORT OF LOADING</label>
            <input type="text" [(ngModel)]="blDetails.portOfLoading" class="form-control" [ngModelOptions]="{standalone: true}">
            <p class="errMsg"></p>
        </div>
        
        <div class="layout-error">
            <p class="sccMsg"></p>
            <p class="errMsg"></p>
        </div>
      </form>
    </mat-card>

    <mat-card class="portDischarge">
      <mat-card-title>PORT OF DISCHARGE</mat-card-title>
      <hr>
      <form>
        <div class="layout-portDischarge">
            <label >PORT OF Discharge</label>
            <input type="text" [(ngModel)]="blDetails.portOfDischarge" class="form-control" [ngModelOptions]="{standalone: true}">
            <p class="errMsg"></p>
        </div>
        
        <div class="layout-error">
            <p class="sccMsg"></p>
            <p class="errMsg"></p>
        </div>
      </form>
    </mat-card>

    <mat-card class="placeReceipt">
      <mat-card-title>PLACE OF RECEIPT</mat-card-title>
      <hr>
      <form>
        <div class="layout-placeReceipt">
            <label >PORT OF Receipt</label>
            <input type="text" [(ngModel)]="blDetails.placeOfReceipt" class="form-control" [ngModelOptions]="{standalone: true}">
            <p class="errMsg"></p>
        </div>
        
        <div class="layout-error">
            <p class="sccMsg"></p>
            <p class="errMsg"></p>
        </div>
      </form>
    </mat-card>

    <mat-card class="placeDelivery">
      <mat-card-title>PLACE OF DELIVERY</mat-card-title>
      <hr>
      <form>
        <div class="layout-placeDelivery">
            <label >PORT OF delivery</label>
            <input type="text" [(ngModel)]="blDetails.placeOfDelivery" class="form-control"[ngModelOptions]="{standalone: true}" >
            <p class="errMsg"></p>
        </div>
        
        <div class="layout-error">
            <p class="sccMsg"></p>
            <p class="errMsg"></p>
        </div>
      </form>
    </mat-card>

    <mat-card class="oceanVessel">
      <mat-card-title>OCEAN VESSEL</mat-card-title>
      <hr>
      <form>
        <div class="layout-oceanVessel">
            <label >ocean vessel name</label>
            <input type="text" [(ngModel)]="blDetails.oceanVesselName" class="form-control" [ngModelOptions]="{standalone: true}">
            <p class="errMsg"></p>
        </div>
        
        <div class="layout-error">
            <p class="sccMsg"></p>
            <p class="errMsg"></p>
        </div>
      </form>
    </mat-card>

    <mat-card class="container">
      <mat-card-title>CONTAINER</mat-card-title>
      <hr>
      <form>
        <div class="layout-placeContainer">
            <label >CONTAINER NUMBER</label>
            <input type="text" [(ngModel)]="blDetails.containerNumber" class="form-control"[ngModelOptions]="{standalone: true}" >
            <p class="errMsg"></p>
        </div>
        
        <div class="layout-error">
            <p class="sccMsg"></p>
            <p class="errMsg"></p>
        </div>
      </form>
    </mat-card>

  <mat-card class="containerload">
    <mat-card-title>CONTAINER LOAD</mat-card-title>
    <hr>
    <form>
      <div class="layout-placeContainer">
        <label for="fcl">Full container load</label>
        <input type="radio" id="fcl" name="containerLoad" value="fullContainerLoad" (click)="checkContainerLoad('fullContainerLoad')"ngModel>
        <p></p>
        <label>Less than container load </label> 
        <input type="radio" id="lcl" name="containerLoad" value="lessThanContainerLoad" (click)="checkContainerLoad('lessThanContainerLoad')" ngModel>
     </div>
    </form>
  </mat-card>


  <!-- empty in first create
    
    <mat-card class="containerload">
    <mat-card-title>DATES OF TRANSPORT</mat-card-title>
    <hr>
    <label for="cargoRDate">CARGO RECEIVED DATE</label>
    <input type="date" id="cargoRDate" name="cargoRDate">
    <p>
    <label for="shippedOBoard">SHIPPED ON BOARD DATE</label>
    <input type="date" id="shippedOBoard" name="shippedOBoard">
  </mat-card> -->
  
  <mat-card class="customerOrderNumber">
    <mat-card-title>CUSTOMER ORDER NUMBER</mat-card-title>
    <hr>
      <form>
        <div class="layout-customerONumber">
            <label >CUSTOMER ORDER NUMBER</label>
            <input type="text" [(ngModel)]="blDetails.customerOrderNumber" class="form-control" [ngModelOptions]="{standalone: true}">
            <p class="errMsg"></p>
        </div>
        
        <div class="layout-error">
            <p class="sccMsg"></p>
            <p class="errMsg"></p>
        </div>
      </form>
  </mat-card>
</div>


  <mat-card class="infomartionofGoods">
    <mat-card-title>INFORMATION OF GOODS</mat-card-title>
    <hr>
    <div class="innerInfoOfGoods">

    <mat-card class="marksAndNumbers">
      <mat-card-title>MARKS AND NUMBERS</mat-card-title>
      <hr>
        <form>
          <div class="layout-marksAndNumbers">
              <label >MARKS AND NUMBERS</label>
              <input type="text" [(ngModel)]="blDetails.marksAndNumbers" class="form-control" [ngModelOptions]="{standalone: true}">
              <p class="errMsg"></p>
          </div>
          
          <div class="layout-error">
              <p class="sccMsg"></p>
              <p class="errMsg"></p>
          </div>
        </form>
    </mat-card>

    <mat-card class="numberOfPackages">
      <mat-card-title>NUMBER OF PACKAGES</mat-card-title>
      <hr>
        <form>
          <div class="layout-numberOfPackages">
              <label >NUMBER OF PACKAGES</label>
              <input type="text" [(ngModel)]="blDetails.numberOfPackages" class="form-control" [ngModelOptions]="{standalone: true}">
              <p class="errMsg"></p>
          </div>
          
          <div class="layout-error">
              <p class="sccMsg"></p>
              <p class="errMsg"></p>
          </div>
        </form>
    </mat-card>

    <mat-card class="descriptionOfGoods">
      <mat-card-title>DESCRIPTION OF GOODS</mat-card-title>
      <hr>
      <form>
        <!-- <form>
          <div class="layout-descriptionOfGoods">
            <label>DESCRIPTION OF GOODS</label>
            <input type="text" [(ngModel)]="blDetails.descriptionOfGoods" class="form-control"[ngModelOptions]="{standalone: true}" >
            <p class="errMsg"></p>
          </div> -->
          <div class="layout-descriptionOfGoods">
            <label>DESCRIPTION OF GOODS</label>
          <mat-form-field fxFlex appearance="none">
            <textarea matInput
                      matTextareaAutosize
                      [matAutosizeMinRows]="2"
                      [matAutosizeMaxRows]="12"
                      [(ngModel)]="blDetails.descriptionOfGoods"
                      [ngModelOptions]="{standalone: true}"></textarea>
          </mat-form-field>
          <p class="errMsg"></p>
          </div>

          <div class="layout-descriptionOfGoods">
              <label>DESCRIPTION PER PACKAGE</label>
          <mat-form-field fxFlex appearance="none">
            <textarea matInput
                      matTextareaAutosize
                      [matAutosizeMinRows]="2"
                      [matAutosizeMaxRows]="12"
                      [(ngModel)]="blDetails.descriptionPerPackage"
                      [ngModelOptions]="{standalone: true}"></textarea>
          </mat-form-field>
          <p class="errMsg"></p>
        </div> 
          <!-- <div class="layout-descriptionOfGoods">
              <label>DESCRIPTION PER PACKAGE</label>
              <input type="text" [(ngModel)]="blDetails.descriptionPerPackage" class="form-control" [ngModelOptions]="{standalone: true}">
              <p class="errMsg"></p>
          </div> -->
          
          <div class="layout-error">
              <p class="sccMsg"></p>
              <p class="errMsg"></p>
          </div>
       </form> 
    </mat-card>

    <mat-card class="grossWeight">
      <mat-card-title>GROSS WEIGHT</mat-card-title>
      <hr>
        <form>
          <div class="layout-grossWeight">
            <label>GROSS WEIGHT</label>
            <input type="text" [(ngModel)]="blDetails.grossWeight" class="form-control"[ngModelOptions]="{standalone: true}" >
            <p class="errMsg"></p>
          </div>
          
          <div class="layout-grossWeightUnit">
              <label>GROSS WEIGHT UNIT</label>
              <input type="text" [(ngModel)]="blDetails.grossWeightUnit" class="form-control" [ngModelOptions]="{standalone: true}">
              <p class="errMsg"></p>
          </div>
          
          <div class="layout-error">
              <p class="sccMsg"></p>
              <p class="errMsg"></p>
          </div>
        </form>
    </mat-card>

    <mat-card class="measurement">
      <mat-card-title>MEASUREMENT</mat-card-title>
      <hr>
        <form>
          <div class="layout-measurement">
              <label >Measurement</label>
              <input type="text" [(ngModel)]="blDetails.measurement" class="form-control" [ngModelOptions]="{standalone: true}">
              <p class="errMsg"></p>
          </div>

          <div class="layout-measurementUnit">
            <label >Measurement unit</label>
            <input type="text" [(ngModel)]="blDetails.measurementUnit" class="form-control" [ngModelOptions]="{standalone: true}">
            <p class="errMsg"></p>
        </div>
          
          <div class="layout-error">
              <p class="sccMsg"></p>
              <p class="errMsg"></p>
          </div>
        </form>
    </mat-card>

    <mat-card class="declaredCV">
      <mat-card-title>DECLARED CARGO VALUE</mat-card-title>
      <hr>
        <form>
          <div class="layout-declaredCVAmount">
              <label>Amount</label>
              <input type="text" [(ngModel)]="blDetails.declaredCargoValueAmount" class="form-control" [ngModelOptions]="{standalone: true}">
              <p class="errMsg"></p>
          </div>
          
          <div class="layout-declaredCVCurrency">
            <label>Currency</label>
            <input type="text" [(ngModel)]="blDetails.declaredCargoValueCurrency" class="form-control" [ngModelOptions]="{standalone: true}">
            <p class="errMsg"></p>
        </div>
          <div class="layout-error">
              <p class="sccMsg"></p>
              <p class="errMsg"></p>
          </div>
        </form>
    </mat-card>

    <mat-card class="additionalInformation">
      <mat-card-title>ADDITIONALINFORMATION</mat-card-title>
      <hr>
        <form>
          <div class="layout-additionalInformation">
              <label >ADDITIONAL INFORMATION</label>
              <mat-form-field fxFlex appearance="none">
                <textarea matInput
                          matTextareaAutosize
                          [matAutosizeMinRows]="2"
                          [matAutosizeMaxRows]="12"
                          [(ngModel)]="blDetails.additionalInformation"
                          [ngModelOptions]="{standalone: true}"></textarea>
              </mat-form-field>
              <p class="errMsg"></p>
          </div>
          
          <div class="layout-error">
              <p class="sccMsg"></p>
              <p class="errMsg"></p>
          </div>
        </form>
    </mat-card>

    <mat-card class="hazardousMaterial">
      <mat-card-title>HAZARDOUS MATERIAL</mat-card-title>
      <hr>
        <form>
          <div class="layout-hazardousMaterial">
              <label >Hazardous Material</label>
              <input type="checkbox" id="hazMat" [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}" >
              <p class="errMsg"></p>
          </div>
          
          <div class="layout-error">
              <p class="sccMsg"></p>
              <p class="errMsg"></p>
          </div>
        </form>
    </mat-card>
  </div>

  <hr>

  <div class="infoOfFreight">
  <mat-card class="incoterms">
    <mat-card-title>INCOTERMS</mat-card-title>
    <hr>
      <form>
        <div class="layout-incoterms">
            <label >INCOTERMS</label>
            <input type="text" [(ngModel)]="blDetails.incoterms" class="form-control" [ngModelOptions]="{standalone: true}">
            <p class="errMsg"></p>
        </div>
        
        <div class="layout-error">
            <p class="sccMsg"></p>
            <p class="errMsg"></p>
        </div>
      </form>
  </mat-card>

  <mat-card class="freightChargesCurrency">
    <mat-card-title>FREIGHT AND CHARGES CURRENCY</mat-card-title>
    <hr>
    <form>
      <div class="layout-freightChargesCurrency">
        <label for="p">prepaid</label>
        <input type="radio" id="p" name="charges" value="prepaid" (click)="checkCurrency('prepaid')" ngModel>
        <p></p>
        <label for="c">collect</label> 
        <input type="radio" id="c" name="charges" value="collect" (click)="checkCurrency('collect')" ngModel>
     </div>
    </form>
  </mat-card>
</div>
</mat-card>

<mat-card class="transportCondition">
  <mat-card-title>TRANSPORT CONDITIONS</mat-card-title>
  <hr>
    <form>
      <div class="layout-transportCondition">
          <label>TRANSPORT CONDITIONS</label>
          <!-- <input type="text" [(ngModel)]="blDetails.transportConditions" class="form-control" [ngModelOptions]="{standalone: true}"> -->
          <mat-form-field fxFlex appearance="none">
            <textarea matInput
                      matTextareaAutosize
                      [matAutosizeMinRows]="2"
                      [matAutosizeMaxRows]="12"
                      [(ngModel)]="blDetails.transportConditions"
                      [ngModelOptions]="{standalone: true}"></textarea>
          </mat-form-field>
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p class="errMsg"></p>
      </div>
    </form>
</mat-card>

<mat-card class="appliableLaw">
  <mat-card-title>APPLIABLE LAW</mat-card-title>
  <hr>
    <form>
      <div class="layout-transportCondition">
          <label>Appliable Law</label>
          <!-- <input type="text" [(ngModel)]="blDetails.transportConditions" class="form-control" [ngModelOptions]="{standalone: true}"> -->
          <mat-form-field fxFlex appearance="none">
            <textarea matInput
                      matTextareaAutosize
                      [matAutosizeMinRows]="2"
                      [matAutosizeMaxRows]="12"
                      [(ngModel)]="blDetails.applieableLaw"
                      [ngModelOptions]="{standalone: true}"></textarea
                      >
          </mat-form-field>
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p class="errMsg"></p>
      </div>
    </form>
</mat-card>

<mat-card class="placeOfJurisdiction">
  <mat-card-title>PLACE OF JURISDICTION</mat-card-title>
  <hr>
    <form>
      <div class="layout-placeOfJurisdiction">
          <label>PlaceOfJurisdiction</label>
          <!-- <input type="text" [(ngModel)]="blDetails.transportConditions" class="form-control" [ngModelOptions]="{standalone: true}"> -->
          <mat-form-field fxFlex appearance="none">
            <textarea matInput
                      matTextareaAutosize
                      [matAutosizeMinRows]="2"
                      [matAutosizeMaxRows]="12"
                      [(ngModel)]="blDetails.placeOfJurisdiction"
                      [ngModelOptions]="{standalone: true}"></textarea
                      >
          </mat-form-field>
          <p class="errMsg"></p>
      </div>
      
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p class="errMsg"></p>
      </div>
    </form>
</mat-card>

<button type="submit" id="submit" (click)="addBL()">CREATE B/L</button> 
</div>