<!-- <div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Create Employee</h3>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.blNumber" class="form-control" placeholder="Name">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.dateOfIssue" class="form-control" placeholder="Email">
      </div>
      
      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.placeOfIssue" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.numberOfBLIssued" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.shipperName" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.shipperAddress" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.shipperContact" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.shipperLegalForm" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.consigneeName" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.consigneeAddress" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.consigneeContact" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.consigneeLegalForm" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.carrierName" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.carrierAddress" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.carrierContact" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.carrierLegalForm" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.carrierTrailerNumber" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.agentCompanyName" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.agentCompanyLegalForm" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.agentCompanyAddress" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.notifyPartyCompanyName" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.notifyPartyCompanyAddress" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.notifyPartyCompanyLegalForm" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.notifyPartySameAs" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.incoterms" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.freightChargesCurrency" class="form-control" placeholder="Email">
      </div>


      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.prepaid" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.collect" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.portOfLoading" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.portOfDischarge" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.placeOfReceipt" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.placeOfDelivery" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.oceanVesselName" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.containerNumber" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.fullContainerLoad" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.lessThenContainerLoad" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.dateofReceived" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.shippedOnBoardDate" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.marksAndNumbers" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.numberOfPackages" class="form-control" placeholder="0">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.grossWeight" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.grossWeightUnit" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="blDetails.descriptionOfGoods" class="form-control" placeholder="Email">
      </div>

    
      <div class="form-group">
        <button class="btn " (click)="addBL()">Create Employee</button>
      </div>
  
    </div>
  </div> -->
  <button  (click)="addBL()">Create BL</button>
<!-- <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Billing addrress</mat-card-title>
        <form>
        
          <div class="layout-recipient">
              <label for="recipient">Recipient</label>
              <input type="text" id="recipient" name="recipient" placeholder="Recipient name">
              <p id="errRecipient" class="errMsg"></p>
          </div>
          
          <div class="layout-street-name">
              <label for="street-name">Street name</label>
              <input type="text" id="street-name" name="street-name" placeholder="Street name">
              <p id="errStreetName" class="errMsg"></p>
          </div>
          
          <div class="layout-street-number">
              <label for="street-number">Street number</label>
              <input type="text" id="street-number" name="street-number" placeholder="Street number">
              <p id="errStreetNumber" class="errMsg"></p>
          </div>
          
          <div class="layout-city">
              <label for="city">City</label>
              <input type="text" id="city" name="city" placeholder="Country">
              <p id="errCity" class="errMsg"></p>
          </div>
          
          <div class="layout-country">
              <label for="country">Country</label>
              <select id="country" name="country">
                    <option value="Germany" selected>Germany</option>
                    <option value="France">France</option>
                    <option value="Netherlands">Netherlands</option>
                    <option value="Spain">Spain</option>
              </select>
              <p id="errCountry" class="errMsg"></p>
          </div>
            
          <input type="button" id="submit" value="Save changes">
          
          <div class="layout-error">
              <p class="sccMsg"></p>
              <p id="errSubmit" class="errMsg"></p>
          </div>
        </form>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Billing addrress</mat-card-title>
        <form>
          <div class="layout-recipient">
              <label for="recipient">Recipient</label>
              <input type="text" id="recipient" name="recipient" placeholder="Recipient name">
              <p id="errRecipient" class="errMsg"></p>
          </div>
            
          <input type="button" id="submit" value="Save changes">
          
          <div class="layout-error">
              <p class="sccMsg"></p>
              <p id="errSubmit" class="errMsg"></p>
          </div>
        </form>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->

<!-- <div id="grid-container">
  <mat-card class="shipper">
    <mat-card-title>SHIPPEREXPORTER</mat-card-title>
    <hr>
    <form>    
      <div class="layout-shippername">
          <label for="recipient">shipper name</label>
          <input type="text" [(ngModel)]="blDetails.shipperName" class="form-control" placeholder="Shipper name">
          <p id="errRecipient" class="errMsg"></p>
      </div>
      
      <div class="layout-street-name">
          <label for="street-name">shipper address</label>
          <input type="text" [(ngModel)]="blDetails.shipperAddress" class="form-control" placeholder="Shipper address">
          <p id="errStreetName" class="errMsg"></p>
      </div>
      
      <div class="layout-street-number">
          <label for="street-number">shipper contact</label>
          <input type="text" [(ngModel)]="blDetails.shipperContact" class="form-control" placeholder="Shipper contact">
          <p id="errStreetNumber" class="errMsg"></p>
      </div>
      
      <div class="layout-city">
          <label for="city">shipper legalform</label>
          <input type="text" [(ngModel)]="blDetails.shipperLegalForm" class="form-control" placeholder="Shipper legalform">
          <p id="errCity" class="errMsg"></p>
      </div> -->
      
      <!-- <div class="layout-country">
          <label for="country">Country</label>
          <select id="country" name="country">
                <option value="Germany" selected>Germany</option>
                <option value="France">France</option>
                <option value="Netherlands">Netherlands</option>
                <option value="Spain">Spain</option>
          </select>
          <p id="errCountry" class="errMsg"></p>
      </div> -->
        
      <!-- <input type="button" id="submit" value="Save changes"> -->
      
      <!-- <div class="layout-error">
          <p class="sccMsg"></p>
          <p id="errSubmit" class="errMsg"></p>
      </div>
    </form>
  </mat-card>
  <mat-card class="blNumber">
    <mat-card-title>Bill of lading number</mat-card-title>
    <hr>
    <form>
      <div class="layout-recipient">
          <label for="recipient">Bill of lading number</label>
          <input type="text" [(ngModel)]="blDetails.blNumber" class="form-control" placeholder="Bill of lading number">
          <p id="errRecipient" class="errMsg"></p>
      </div>
      
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p id="errSubmit" class="errMsg"></p>
      </div>
    </form>
  </mat-card>
  <mat-card class="bookingNo">
    <mat-card-title>Booking number</mat-card-title>
    <hr>
    <form>
      <div class="layout-recipient">
          <label for="recipient">Booking number</label>
          <input type="text" [(ngModel)]="blDetails.blNumber" class="form-control" placeholder="Booking number">
          <p id="errRecipient" class="errMsg"></p>
      </div>
      
      <div class="layout-error">
          <p class="sccMsg"></p>
          <p id="errSubmit" class="errMsg"></p>
      </div>
    </form>
  </mat-card>
</div> -->