input[type=text], select {
    width: 100%;
    padding: 8px 12px;
    margin: 6px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 5px lightgrey;
}

input[type=date]{
    outline: none;
    margin-left: 20px;
}

input#cargoRDate {
    margin-left: 33px;
}

#fcl{
    margin-left: 60px;
}

#lcl{
    margin-left: 25px;
}

mat-card {
    margin: 10px 10px 10px 10px;
}

mat-card-title{
    margin-left: 20px;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 5px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
}
 
hr {
    color :#0474cf;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    margin: 0 20px 20px 20px;
    box-sizing: border-box;
}


.generellInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.transportInfo{
    grid-column: 1 / 2 span;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

mat-form-field{
    grid-column: 1/3;
}

label {
    display: inline-block;
    margin-top: 12px;
    text-transform: uppercase;
    color: #A7A7A7;
    font-size: 12px;
}
.errMsg {
    font-size: 12px;
    margin: 4px 0 0 0;
    color: red;
}
.sccMsg{
    font-size: 12px;
    margin: 0;
    color: limegreen;
}
.layout-shippername, .layout-shipperaddress, .layout-shippercontact, .layout-shipperlegalform, .layout-blnumber, .layout-blIssued, .layout-dateIssued, .layout-placeIssue, .layout-consigneename, .layout-consigneeaddress, .layout-consigneecontact, .layout-consigneelegalform, .layout-agentCname, .layout-agentCaddress, .layout-agentClegalform, .layout-notifyPname, .layout-notifyPaddress, .layout-notifyPlegalform, .layout-consigneeaddress, .layout-portLoading, .layout-portDischarge, .layout-placeReceipt, .layout-placeDelivery, .layout-oceanVessel, .layout-placeContainer, .layout-error {
    grid-column: 1/3;
}
.layout-error {
    margin-top: 8px;
}
#submit {
    background: #006491;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border-radius: 4px;
    width: fit-content;
    outline: none;
}
#submit:hover{
    background: #237BA3;
}