<!-- <mat-toolbar color="primary">
  <div id="nav-bar">
  <div id="logo">
    <img src="../../assets/ECONBIL_L_Trasparent.png" alt="logo"/>
  </div>
  <div id="information">
    <button mat-button routerLink="/overview" [disableRipple]="true">OVERVIEW B/L</button>
    <button mat-button routerLink="/newBillOfLading" [disableRipple]="true">NEW B/L</button>
    <button mat-button routerLink="/changeBillOfLading" [disableRipple]="true">CHANGE B/L</button>
    <button mat-button routerLink="/about" [disableRipple]="true">ABOUT US</button>
  </div>

</div>
</mat-toolbar> -->
<header>
  <a routerLink="/overview" >OVERVIEW B/L</a>
  <a routerLink="/newBillOfLading" >NEW B/L</a>
  <a routerLink="/changeBillOfLading" >CHANGE B/L</a> 
</header>
<router-outlet></router-outlet>