<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"  >
        <mat-nav-list *ngIf="bls">
        <mat-list-item *ngFor="let bl of bls">
            <button class="listButton">  {{bl.key}} </button>
        </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
        <div class="form-group">
            <input type="text" [(ngModel)]="blKey" class="form-control" placeholder="Key">
        </div>
        <button (click)="loadSingleBL()"></button>
    </mat-sidenav-content>
</mat-sidenav-container>

